In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/dataset.csv')
df.head(3)

,Date,Open,High,Low,Volume,Close + 7,Close + 8,Close + 9,Close + 10,Close + 11,...,%D,value,value_classification,Close + 6,Close + 5,Close + 4,Close + 3,Close + 2,Close + 1,Close
0,2018-02-01,10237.299805,10288.799805,8812.280273,9959400448,11259.400391,11359.400391,10868.400391,10931.400391,11600.099609,...,2.277774,30,1,11171.400391,11440.700195,11786.299805,11296.400391,10106.299805,10221.099609,9170.540039
1,2018-02-02,9142.280273,9142.280273,7796.490234,12726899712,11171.400391,11259.400391,11359.400391,10868.400391,10931.400391,...,2.277774,15,2,11440.700195,11786.299805,11296.400391,10106.299805,10221.099609,9170.540039,8830.750000
2,2018-02-03,8852.120117,9430.750000,8251.629883,7263790080,11440.700195,11171.400391,11259.400391,11359.400391,10868.400391,...,8.251166,40,1,11786.299805,11296.400391,10106.299805,10221.099609,9170.540039,8830.750000,9174.910156

# Splitting data for train, valid, test

In [3]:
train_split = int(0.6 * len(df))
valid_split = train_split + int(0.2 * len(df))

train_df = df.iloc[:train_split]
valid_df = df.iloc[train_split:valid_split]
test_df = df.iloc[valid_split:]

In [4]:
len(train_df) + len(valid_df) + len(test_df)

2298

# Exporting data

In [5]:
train_df.to_csv('../data/train_dataset.csv', index=False)
valid_df.to_csv('../data/valid_dataset.csv', index=False)
test_df.to_csv('../data/test_dataset.csv', index=False)