# Imports

In [18]:
import pandas as pd

# Dataset

In [19]:
btc_hist = pd.read_csv('../data/btc_hist_processed.csv')
fng_hist = pd.read_csv('../data/fng_hist_processed.csv')

# Joining

In [20]:
btc_hist['Date'].min(), btc_hist['Date'].max()

('2014-10-24', '2024-05-20')

In [21]:
fng_hist['Date'].min(), fng_hist['Date'].max()

('2018-02-01', '2024-05-20')

In [22]:
joined_data = pd.merge(btc_hist, fng_hist)
joined_data['Date'].min(), joined_data['Date'].max()

('2018-02-01', '2024-05-20')

In [23]:
joined_data.head()

,Date,Open,High,Low,Close,Volume,Close + 1,Close + 2,Close + 3,Close + 4,...,Close + 35,Close + 36,Close + 37,MA_13,MA_21,RSI_3,%K,%D,value,value_classification
0,2018-02-01,10237.299805,10288.799805,8812.280273,9170.540039,9959400448,10221.099609,10106.299805,11296.400391,11786.299805,...,14606.500000,15838.500000,16099.799805,11085.433969,11704.982933,4.873774,0.000000,2.277774,30,1
1,2018-02-02,9142.280273,9142.280273,7796.490234,8830.750000,12726899712,9170.540039,10221.099609,10106.299805,11296.400391,...,14656.200195,14606.500000,15838.500000,10772.476262,11459.752000,7.627137,0.000000,2.277774,15,2
2,2018-02-03,8852.120117,9430.750000,8251.629883,9174.910156,7263790080,8830.750000,9170.540039,10221.099609,10106.299805,...,12952.200195,14656.200195,14606.500000,10585.923227,11212.833426,19.841927,24.753498,8.251166,40,1
3,2018-02-04,9175.700195,9334.870117,8031.220215,8277.009766,7073549824,9174.910156,8830.750000,9170.540039,10221.099609,...,14156.400391,12952.200195,14656.200195,10381.739333,10951.167225,21.756806,0.000000,8.251166,24,2
4,2018-02-05,8270.540039,8364.839844,6756.680176,6955.270020,9285289984,8277.009766,9174.910156,8830.750000,9170.540039,...,13657.200195,14156.400391,12952.200195,10080.729304,10624.284854,13.423829,0.000000,8.251166,11,2

# Rearranging columns

In [24]:
joined_data.keys()

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close + 1',
       'Close + 2', 'Close + 3', 'Close + 4', 'Close + 5', 'Close + 6',
       'Close + 7', 'Close + 8', 'Close + 9', 'Close + 10', 'Close + 11',
       'Close + 12', 'Close + 13', 'Close + 14', 'Close + 15', 'Close + 16',
       'Close + 17', 'Close + 18', 'Close + 19', 'Close + 20', 'Close + 21',
       'Close + 22', 'Close + 23', 'Close + 24', 'Close + 25', 'Close + 26',
       'Close + 27', 'Close + 28', 'Close + 29', 'Close + 30', 'Close + 31',
       'Close + 32', 'Close + 33', 'Close + 34', 'Close + 35', 'Close + 36',
       'Close + 37', 'MA_13', 'MA_21', 'RSI_3', '%K', '%D', 'value',
       'value_classification'],
      dtype='object')

In [25]:
joined_data = joined_data[['Date', 'Open', 'High', 'Low', 'Volume', 'Close + 7', 'Close + 8',
       'Close + 9', 'Close + 10', 'Close + 11', 'Close + 12', 'Close + 13',
       'Close + 14', 'Close + 15', 'Close + 16', 'Close + 17', 'Close + 18',
       'Close + 19', 'Close + 20', 'Close + 21', 'Close + 22', 'Close + 23',
       'Close + 24', 'Close + 25', 'Close + 26', 'Close + 27', 'Close + 28',
       'Close + 29', 'Close + 30', 'Close + 31', 'Close + 32', 'Close + 33',
       'Close + 34', 'Close + 35', 'Close + 36', 'Close + 37', 'MA_13',
       'MA_21', 'RSI_3', '%K', '%D', 'value',
       'value_classification', 'Close + 6', 'Close + 5', 'Close + 4',
       'Close + 3', 'Close + 2', 'Close + 1', 'Close']]

# Exporting

In [26]:
joined_data.to_csv('../data/dataset.csv', index=False)