# Imports

In [28]:
import pandas as pd

# Dataset

In [29]:
btc_hist = pd.read_csv('btc_hist.csv')
fng_hist = pd.read_csv('fng_hist.csv')

# Joining

In [30]:
btc_hist['Date'].min(), btc_hist['Date'].max()

('2014-09-17', '2024-05-20')

In [31]:
fng_hist['Date'].min(), fng_hist['Date'].max()

('2018-02-01', '2024-05-20')

In [32]:
joined_data = pd.merge(btc_hist, fng_hist)
joined_data['Date'].min(), joined_data['Date'].max()

('2018-02-01', '2024-05-20')

In [33]:
joined_data

,Date,Open,High,Low,Close,Volume,value,value_classification
0,2018-02-01,10237.299805,10288.799805,8812.280273,9170.540039,9959400448,30,Fear
1,2018-02-02,9142.280273,9142.280273,7796.490234,8830.750000,12726899712,15,Extreme Fear
2,2018-02-03,8852.120117,9430.750000,8251.629883,9174.910156,7263790080,40,Fear
3,2018-02-04,9175.700195,9334.870117,8031.220215,8277.009766,7073549824,24,Extreme Fear
4,2018-02-05,8270.540039,8364.839844,6756.680176,6955.270020,9285289984,11,Extreme Fear
...,...,...,...,...,...,...,...,...
2293,2024-05-16,66256.109375,66712.429688,64613.054688,65231.582031,31573077994,70,Greed
2294,2024-05-17,65231.296875,67459.460938,65119.316406,67051.875000,28031279310,74,Greed
2295,2024-05-18,67066.210938,67387.328125,66663.500000,66940.804688,16712277406,73,Greed
2296,2024-05-19,66937.929688,67694.296875,65937.179688,66278.367188,19249094538,72,Greed
2297,2024-05-20,66277.656250,67818.320312,66144.617188,67721.140625,25235793920,70,Greed

# Exporting

In [34]:
joined_data.to_csv('dataset.csv', index=False)