# Imports

In [1]:
import yfinance as yf
import pandas as pd
import requests

# Functions

In [2]:
def fetch_from_api(api_url):
    try:
        response = requests.get(api_url)
        response.raise_for_status()
        content = pd.DataFrame(response.json()['data'])
        content['Date'] = pd.to_datetime(content['timestamp'], unit='s')
        content.drop(columns=['time_until_update', 'timestamp'], inplace=True)
        content.set_index('Date', inplace=True)
        return content
    except requests.exceptions.RequestException as e:
        print(f"Error fetching data from API: {e}")
        return None

# Data Extracting

In [3]:
btc_hist = yf.Ticker('BTC-USD').history('max')
btc_hist.index = pd.to_datetime(btc_hist.index).tz_localize(None)
btc_hist.drop(columns=['Dividends', 'Stock Splits'], inplace=True)
btc_hist.head()

                  Open        High         Low       Close    Volume
Date
2014-09-17  465.864014  468.174011  452.421997  457.334015  21056800
2014-09-18  456.859985  456.859985  413.104004  424.440002  34483200
2014-09-19  424.102997  427.834991  384.532013  394.795990  37919700
2014-09-20  394.673004  423.295990  389.882996  408.903992  36863600
2014-09-21  408.084991  412.425995  393.181000  398.821014  26580100

In [4]:
api_url = "https://api.alternative.me/fng/?limit=0&format=json"
fng_hist = fetch_from_api(api_url)

C:\Users\Jehoiada Wong\AppData\Local\Temp\ipykernel_9848\3776517148.py:6: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  content['Date'] = pd.to_datetime(content['timestamp'], unit='s')

In [5]:
fng_hist.sort_index(ascending=True)

           value value_classification
Date
2018-02-01    30                 Fear
2018-02-02    15         Extreme Fear
2018-02-03    40                 Fear
2018-02-04    24         Extreme Fear
2018-02-05    11         Extreme Fear
...          ...                  ...
2024-05-16    70                Greed
2024-05-17    74                Greed
2024-05-18    73                Greed
2024-05-19    72                Greed
2024-05-20    70                Greed

[2298 rows x 2 columns]

# Exporting to csv

In [6]:
btc_hist.to_csv('btc_hist.csv')
fng_hist.to_csv('fng_hist.csv')